// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time {
  font-size: 0.6em;
  color: #888;
  display: block;
  margin: 1px 0px;
}

.avatar {
  border-radius: 50%;
}
